.navigation{
    // color: $main-text-color;
    // text-decoration: none;
    display: flex;
    margin-top: 1%;
    padding-bottom: 0.2%;
    background-color: rgba(199, 195, 195, 0.693);
    li{
        margin-left: 3%;
        a:visited{
            color: rgb(67, 69, 70);
            text-decoration: none;
        }
        a:link{
            text-decoration: none;
            color: rgb(67, 69, 70);
        }
        a:focus{
            text-decoration: none;
            color: $main-text-color;
        }
        &:hover{
            animation: blur 0.3s ease;
            @keyframes blur
            {
            from { filter: blur(4px); }
            to { filter: blur(0px); }
            }
            transition: 0.3s;
            transform: scale(1.2);
        }
    }
}
.logo{
    width: 46px;
    height: 30px;
    background-image: url(./130067.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}