.weather{
  display: flex;
  margin: 2%;
  padding: 2%;
  align-items: center;
  justify-content: center;
  input{
    margin-left: 2%;
  }
  button{
    margin-left: 2%;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 40px;
  }
}

.weather-list-container{
  justify-content: center;
  .prelude-weather-list{
    // display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .list-of-weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .weather-box{
      display: flex;
      padding: 1%;
      border-radius: 20px;
      flex-direction: column;
      margin: 2%;
      align-items: center;
      justify-content: center;
      background-color: $color-block;
      width: 20%;
      h1{
        margin-bottom: 4%;
      }
      .weather-all{
        display: flex;
        justify-content: space-around;
        .tem-div{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 5rem;
        }
      }
      .weather-box-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: 100%;
      }
      .bicycle-box-icon{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

.scale-bike-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  
}

.scale-bike{
  padding: 1%;
  border-radius: 20px;
  background-color: $color-block;
  margin-left: 35%;
  margin-right: 35%;
  height: 110px;
  
  .scale-bikes{
    display: flex;
    justify-content: center;
    align-items: center;
    .skala{
      margin: 3%;
      width: 100%;
    }
  }
}

.arrow-scale{
  display: flex;
  justify-content: space-around;
  width: 100%;
}




.scale-bike-m{
  padding: 1%;
  border-radius: 20px;
  // background-color: $color-block;
  margin-left: 15%;
  margin-right: 15%;
  height: 270px;
  h1{
    color:grey;
    opacity: 0.5;
  }
  .scale-bikes-m{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    @include desktop{
      div{
        i{
          font-size: 3rem !important;
        }

      }
      
      
    }
    .skala-m{
      margin: 3%;
      width: 100%;
    }
    .arrow-scale-m{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}



