.container-workouts{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  .general-info-workouts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    .inf-all-workouts{
      display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        justify-content: space-around;
        background-color: $color-block;
        border-radius: 100px 180% 180% 100px;
        width: 500px;
        height: 50px;
        padding: 2%;
        margin-top: 2%;
    }
    .all-kilometers{
      margin-top: 2%;
    }
    .all-kcl{
      margin-top: 2%;
    }
    .all-workouts-time{
      margin-top: 2%;
    }
  }
}

.form-add-workouts{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-block;
  border-radius: 20px;
  width: 500px;
  height: auto;
  padding: 1%;
  margin-top: 2%;
  button{
    padding: 15%;
    font-size: 2.5rem;
    border-radius: 25px;
  }
  .add-workouts-string{
    margin: 5% 0% 15% 0%;
  }
  .cont-inputs-add-workouts{
    display: flex;
    align-items: center;
    button{
      background-color: $button-background;
    }
    .inputs-add-workouts{
      display: flex;
      flex-direction: column;
      label{
        margin-top: 4%;
      }
      input{
        justify-content: center;
        width: 70%;
        height: 30px;
        border-radius: 10px;
        margin-top: 2%;
      }
      .add-time-of-ride{
        display: flex;
      }
    }
  }
}

.container-list-of-trening{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .cont-trening{
    text-align: center;
    background-color: $color-block;
    border-radius: 20px;
    padding: 3%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 1000px;
    .date-details{
      text-align: center;
      h1:first-of-type{
        width: 10%;
        display: inline;
      }
      h1:nth-of-type(2){
        width: 90%;
        display: inline;
      }
      display: flex;
      justify-content: space-between;
    }
    .cont-details{
      display: flex;
      justify-content: space-around;
      margin-top: 4%;
      .first-half-tr{
        text-align: start;
        h1{
          margin-top: 4%;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .mid-half{
        text-align: center;
        align-self: center;
      }
      .second-half-tr{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        button{
          margin-top: 60px;
          background-color: transparent;
          border: none;
          i{
            font-size: 2rem;
          }
        }
      }
    }
    
    // border: green solid  2px;
    
    
    
  }
}





