$color-primary: rgba(146, 135, 135, 0.755);
$active-link: rgba(237, 237, 237, 0.946);
$main-text-color: rgba(233, 225, 225, 0.864);
$button-background: rgba(5, 6, 9, 0.481);
$button-border: rgb(0, 1, 4);
$hover-light: rgb(255, 217, 0);