@import './base/reset';
@import './abstracts/variables';
body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $color-primary;
    background-image: url('./components/abst33.jpg');
    opacity: 0.9;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: $main-text-color;
    font-size: 2rem;
    width: 100wh;
    height: 100vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.active {
  color: $active-link;
}

.input-style{
  align-self: center;
  // border-radius: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 2rem;
  padding: 1px;
  text-align: center;
  color: rgba(232, 232, 120, 0.548);
  background-color: transparent;
  &:focus{
    border-bottom: 3px solid $hover-light;
    color: $hover-light;
    outline: none;
  }
}

.btn{
  font-size: 1.5rem;
    color: $main-text-color;
    align-self: center;
    padding: 2% 8%;
    background-color: $button-background;
    border: 1px solid $button-border;
    border-radius: 20px;
    border: none;
    &:hover {
      opacity: 0.7;
      transform: scale(1.1);
      color: $hover-light;
      font-weight: bold;
    }
}

* {
  box-sizing : border-box;
}

.container {
  width: auto;
  height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  padding: 1% 15px;
}

.hidden{
  display: none !important;
}

@import './components/home';
@import './components/navigation';
@import './components/weather';
@import './components/clock';
@import './components/workouts';
@import './components/planningTreninings';
@import './components/loggedIn';