@import './base/reset';
@import './abstracts/variables';
body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-primary;
    color: $main-text-color;
    font-size: 2rem;
    width: 100wh;
    height: 100vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.active {
  color: $active-link;
}

.input-style{
  align-self: center;
  border-radius: 20px;
  font-size: 2rem;
  padding: 1px;
  text-align: center;
  color: rgb(141, 138, 138);
  background-color: rgb(233, 230, 230);
  &:focus{
    border-radius: 40px;
    border: 5px solid yellow;
    color: rgb(141, 138, 138);
    outline: none;
  }
}

@import './components/home';
@import './components/navigation';
@import './components/weather';