@import './base/reset';
@import './abstracts/variables';
body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-primary;
    color: $main-text-color;
    font-size: 2rem;
    width: 100wh;
    height: 100vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.active {
  color: $active-link;
}

.input-style{
  align-self: center;
  border-radius: 20px;
  font-size: 2rem;
  padding: 1px;
  text-align: center;
  color: rgb(141, 138, 138);
  background-color: rgb(233, 230, 230);
  &:focus{
    border-radius: 40px;
    border: 5px solid $hover-light;
    color: rgb(141, 138, 138);
    outline: none;
  }
}

.btn{
  font-size: 1.5rem;
    color: $main-text-color;
    align-self: center;
    padding: 2% 8%;
    background-color: $button-background;
    border: 1px solid $button-border;
    border-radius: 20px;
    border: none;
    &:hover {
      opacity: 0.7;
      transform: scale(1.1);
      color: $hover-light;
      font-weight: bold;
    }
}

* {
  box-sizing : border-box;
}

.container {
  width: auto;
  height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  padding: 1% 15px;
}

.hidden{
  display: none !important;
}

@import './components/home';
@import './components/navigation';
@import './components/weather';
@import './components/clock';
@import './components/workouts';
@import './components/planningTreninings';
@import './components/loggedIn';